version: '3.7'

services:
  mariadb:
    extends:
      file: docker-compose.base.yml
      service: mariadb-base-template
    hostname: mariadb
    networks:
      - archapplnet
    volumes:
      - archappldata:/var/lib/mysql

  mgmt:
    extends:
      file: docker-compose.base.yml
      service: archappl-individual-webapp-base-template
    hostname: mgmt
    ports:
      - "8080:8080"
    build:
      target: mgmt
    image: localhost:5000/mgmt
    volumes:
      - archapplstorage:/usr/local/tomcat/storage/

  engine:
    extends:
      file: docker-compose.base.yml
      service: archappl-individual-webapp-base-template
    hostname: engine
    build:
      target: engine
    image: localhost:5000/engine
    volumes:
      - archapplstorage:/usr/local/tomcat/storage/

  etl:
    extends:
      file: docker-compose.base.yml
      service: archappl-individual-webapp-base-template
    hostname: etl
    build:
      target: etl
    image: localhost:5000/etl
    volumes:
      - archapplstorage:/usr/local/tomcat/storage/

  retrieval:
    extends:
      file: docker-compose.base.yml
      service: archappl-individual-webapp-base-template
    hostname: retrieval
    ports:
      - "8081:8080"
    build:
      target: retrieval
    image: localhost:5000/retrieval
    volumes:
      - archapplstorage:/usr/local/tomcat/storage/

  example-ioc:
    extends:
      file: docker-compose.base.yml
      service: example-ioc-base-template # Updated to use the new base
    # All necessary configuration is inherited.
    # Ensure './ioc' directory exists relative to this file for the volume mount.

networks:
  archapplnet:
    enable_ipv6: true
    ipam:
      config:
        - subnet: 2001:0DB8::/112

volumes:
  archappldata:
  archapplstorage: