version: '3.7'

services:
  mariadb:
    extends:
      file: docker-compose.base.yml
      service: mariadb-base-template
    hostname: mariadb
    networks:
      - archapplnet
    volumes:
      - archappldata:/var/lib/mysql

  archappl:
    extends:
      file: docker-compose.base.yml
      service: archappl-singletomcat-base-template
    hostname: archappl
    ports:
      - "8080:8080"
    environment:
      ARCHAPPL_APPLIANCES: /usr/local/tomcat/archappl_conf/singleappliances.xml
    volumes:
      - archapplstorage:/usr/local/tomcat/storage/

  example-ioc:
    extends:
      file: docker-compose.base.yml
      service: example-ioc-base-template # Updated to use the new base
    # All necessary configuration is inherited.
    # Ensure './ioc' directory exists relative to this file for the volume mount.

networks:
  archapplnet:

volumes:
  archappldata:
  archapplstorage: