version: '3.7'

services:
  mariadb0:
    extends:
      file: docker-compose.base.yml
      service: mariadb-base-template
    hostname: mariadb
    networks:
      - archappl0net
    ports:
      - "3306:3306"
    volumes:
      - archappldata0:/var/lib/mysql

  archappl0:
    extends:
      file: docker-compose.base.yml
      service: archappl-singletomcat-base-template
    hostname: archappl0
    networks:
      - archapplnet
      - archappl0net
    ports:
      - "8080:8080"
    environment:
      ARCHAPPL_MYIDENTITY: archappl0
      ARCHAPPL_APPLIANCES: /usr/local/tomcat/archappl_conf/multipleappliances.xml
    volumes:
      - archapplstorage0:/usr/local/tomcat/storage/
    depends_on:
      mariadb0:
        condition: service_healthy

  mariadb1:
    extends:
      file: docker-compose.base.yml
      service: mariadb-base-template
    hostname: mariadb
    networks:
      - archappl1net
    ports:
      - "3307:3306"
    volumes:
      - archappldata1:/var/lib/mysql

  archappl1:
    extends:
      file: docker-compose.base.yml
      service: archappl-singletomcat-base-template
    hostname: archappl1
    networks:
      - archapplnet
      - archappl1net
    ports:
      - "8081:8080"
    environment:
      ARCHAPPL_MYIDENTITY: archappl1
      ARCHAPPL_APPLIANCES: /usr/local/tomcat/archappl_conf/multipleappliances.xml
    volumes:
      - archapplstorage1:/usr/local/tomcat/storage/
    depends_on:
      mariadb1:
        condition: service_healthy

  example-ioc:
    extends:
      file: docker-compose.base.yml
      service: example-ioc-base-template # Updated to use the new base

networks:
  archapplnet:
  archappl0net:
  archappl1net:

volumes:
  archappldata0:
  archappldata1:
  archapplstorage0:
  archapplstorage1: